<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-12 text-center w-100 d-block align-self-center" style="padding-top: 10rem!important;padding-bottom: 1rem!important;">
            <h1 class="my-5"><%= aula.nome %></h1>
        </div>
        <div class="col-6">
            <img class="img-fluid border-radius-5" src="/img/legend.jpg" alt="">
            
        </div>
        <div class="col-6">
            <p class="lead my-1">Autor: <%= aula.autor %></p>
            <p class="lead my-1">Data: <%= aula.data %></p>
            <p class="lead my-1"><%= aula.descricao %></p>
            <div class="content"><%- aula.conteudo %></div>
        </div>
    </div>
</div>
<% include partials/footer %>